{:deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/spec.alpha {:mvn/version "0.2.176"}
  org.clojure/test.check {:mvn/version "0.10.0-alpha3"}
  org.clojure/tools.trace {:mvn/version "0.7.10"}}}
